# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints and caches
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# Catboost metadata and info
catboost_info/

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db

# Local datasets and data directories
**/data/

# Deep Learning model weights / checkpoints
*.pt
*.pth
*.ckpt
*.bin
*.onnx
*.pb

# TensorBoard logs and telemetry
**/runs/